{% extends "base.html" %}
{% block title %} RADIANT | Login {% endblock %}
{% block body %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card" style='background-color: #eb6d6d; color: white'>
        <div class="card-header p-4" align='center'>
          <h3>Login</h3>
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" aria-describedby="button-addon2">
                <span id="check" class="btn btn-outline-warning bi bi-eye-fill" onclick="fun(this)"></span>
              </div>
              <div>
                <div style="float: left; padding-top: 10px;">
                  <a href='/register' style="text-decoration: none; color: white;">New User?</a>
                </div>
                <div style="float: right;">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function fun(btn){
      btn.classList.toggle('bi-eye-fill')
      btn.classList.toggle('bi-eye-slash')
      let pass=document.getElementById('password')
      if(pass.type=='password'){
          pass.type='text'
      } else{
          pass.type='password'
      }
  }
</script>
{% endblock %}